/* input.form-control,
input.form-control:focus {
  background-color: #636b7b;
  color: #fff;
  border: 1px solid #636b7b;

}

input.form-control:focus {
  box-shadow: none;
}

button[type=submit].btn {
  border-radius: 20px;
  background-color: #04c582;
  color: #fff;
}

div.form-group label:not(.text-danger) {
  color: #545d6a;
  font-weight: 700;
}

div.form-group.required>label:first-child:after {
  content: '*';
  color: #fff;
  padding-left: 5px;
} */

#toast-container>div {
  opacity: 1;
}

.login-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.login-wrapped-div {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #2e3137;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.login-tab-header {
  text-align: center;
}

.login-tab-header h2.active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.login-tab-header h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  padding: 30px 40px 10px 40px;
  cursor: pointer;
  color: #545d6a;
  border-bottom: 2px solid #545d6a;
}

.login-tab-header h2:focus {
  outline: none;
}

form {
  margin: 0px 16px;
}

div.form-group input.invalid {
  border: 1px solid #dc3545;
}

div.form-group label:first-child {
  text-transform: uppercase;
  font-size: 0.9rem;
}

a {
  color: #545d6a;
  text-decoration: none;
}

a:hover {
  color: #212529;
}

ul {
  list-style: none;
}

/* 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  background: #dc3545;
  color: #fff;
}

.navbar ul {
  display: flex;
}

.navbar li.active a {
  font-weight: bold;
  color: #333333;
  cursor: default;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
} */
